body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
}

.titulo-logo{
    text-align: center;
}

.menu-cabecalho{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.itens-cabecalho{
    background-color: #FFFFFF;
    margin-right: 15px; 
    padding: 10px 30px 10px 30px;  
    text-decoration: none;
    color: #000000;
}

.container-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
}

.div-branco-escrito-1{
    background-color: #FFFFFF;
    text-align: right;
    padding-right: 30px;
    padding-top:50px;
}

.pic-img-bike{
    max-width: 100%;
}

.paragrafo-div-branco-escrito-1{
    font-size: 20px;
}

.ancora-div-branco-escrito-1{
    text-decoration: none;
    background-color: #ee2211;
    color: #FFFFFF;
    padding: 10px 20px 10px 20px; 
    border-radius: 4px;
}

.container-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 100px;
    padding-right: 100px;
}

.div-escrito-2{
    text-align: right;
    padding-right: 30px;
    padding-top:50px;
}

.titulo-div-escrito-2{
    color: #c6c6c6;
    font-size: 64px;
}

.div-escrito-3{
    background-color: #FFFFFF;
    
}

.container-1-div-escrito-3{
    display: flex;
    justify-content: space-between;
}

.pic-container-1-div-escrito-3{
    padding: 40px 20px 40px 60px;
}

.titulo-container-1-div-escrito-3{
    padding-top: 10px;
}

.paragrafo-container-1-div-escrito-3 {
    margin-top: 10px; /* Adds space between title and paragraph */
  
}

.container-3{
    background-color: #FFFFFF;
    margin-top: 80px;
}

.titulo-container-3{
    text-align: center;
    font-size: 20px;
    padding: 20px;
    font-weight: 400;
}




